table, th, tr, td{
    border: solid gray 2px;
    border-collapse: collapse;
    background-color:darkgray;
    align-content: center;
    font-family: cursive;

}
/*.dropDisplay{
  background-color: beige;
}*/

td{
     align-content: center;
     font-family: cursive;
     background-color:Lightgray;
}
h1{
    font-family:"Dancing Script", cursive;
    font-size: 50px;
}

form{
  position: fixed;
  align-self: center;
  align-items: center;
}

h3{
    font-family: "Kaushan Script", cursive;
    font-size: 30px;

}
.row{
  margin-left: 3em;
}

body{
    align-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
}

#addStock{
    background-color: white;
    /*position: relative;*/
    /*height: 200px;*/
    /*background-color: lightblue;*/
}
.container{
  /*background-color: lavender;*/
  margin-right: 50%;
}
select, #enterstock,#searchbtn, #all{
    width: 12em;
    height: 3em;
    font-size: 14px;
    font-family: cursive;
    float: none;
}

#error{
  background-color: green;
}

/*label, input{
    float: left;
    position: relative;
    left: 50px;
}

label{
     float: left;
    position: relative;
    left :54px;
}*/
