table, th, tr, td{
    border: solid gray 2px;
    border-collapse: collapse;
    background-color:darkgray;
    align-content: center;
    font-family: cursive;

}


td{
     align-content: center;
     font-family: cursive;
     background-color:Lightgray;
}
h1{
    font-family:"Dancing Script", cursive;
    font-size: 75px;
}

.dropDisplay{
  position: relative;
  top: -4em;
}
#dropdowns{
    align-content: center;
    position: relative;
    top: -3em;
}

h3{
    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    position: relative;
    top: -3em;
}

body{
    align-content: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
}

#addStock{
    background-color: white;
    position: relative;
    height: 200px;
}

select, #enterstock,#searchbtn, #all{
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-family: cursive;
    float: none;
}

#enterstock{
    position: relative;
    bottom: -5px;
}
#error{
	float: left;
	position: relative;
	left: 40%;
}
img{
    width: 30%;
    height: 40%;
    position: relative;
    bottom: 40px;
}

label, input{
    float: left;
    position: relative;
    left: 50px;
}

label{
     float: left;
    position: relative;
    left :54px;
}
